button{
    background-color: #2196F3;
    color: white;
}

.container {
    display: block;
    position: relative ;
    width: 260px;
    height: 105px;
    background-color: #555555;
    border: 1px solid #555555;
    top: 10px;
}
.container > .item1 {
    display: block;
    color: white;
    
}